firmware/ucnc/Debug/
plot/
*-bak
*.elf
*.hex
*.lss
*.map
firmware/ucnc/Debug/main.o
firmware/ucnc/Debug/ucnc.elf
firmware/ucnc/Debug/ucnc.hex
firmware/ucnc/Debug/ucnc.lss
firmware/ucnc/Debug/ucnc.map
firmware/ucnc/Debug/ucnc.srec
